/data
notebooks
sandbox
.env
old

**/credentials/
src/__pycache__/*
.vscode/*
__pycache__
.ruff_cache/

.DS_Store

# ML outputs
models/*
!models/.gitkeep
outputs/*
!outputs/.gitkeep

# MLflow
mlruns/*
mlflow.db